# =============== #
# Unity generated #
# =============== #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Uu]nityGenerated/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
sysinfo.txt
.vs/PaintExperiment/v15/Browse.VC.db
.vs/PaintExperiment/v15/Browse.VC.opendb
.vs/PaintExperiment/v15/Server/sqlite3/db.lock
.vs/PaintExperiment/v15/Server/sqlite3/storage.ide
.vs/PaintExperiment/v15/Server/sqlite3/storage.ide-shm
.vs/PaintExperiment/v15/Server/sqlite3/storage.ide-wal
